{% extends 'base.html' %}

{% block content %}
<h2>Text to Image Encode</h2>
<form>
  <div class="pt-3">
    <div class="row container-fluid">
      <div class="col-sm card-upload d-flex justify-content-center">
        <div class="custom-file container-fluid form form-group">
          <input name="cover_img" type="file" class="custom-file-input" id="customFile" required>
        </div>
      </div>
      <div class="col-sm card-form d-flex justify-content-center">
        <div class="col-sm-12">
          <div class="row">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Password:</label>
              <input name="password" type="password" class="form-control" id="exampleFormControlInput1"
                placeholder="(optional)">
            </div>
          </div>
          <div class="row">
            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label">Message:</label>
              <textarea name="message" class="form-control" id="exampleFormControlTextarea1" rows="20"
                required></textarea>
            </div>
          </div>
          <div class="row">
            <div class="mb-3">
              <button class="btn-primary form-control" style="font-weight: bold; border-radius: 5px;">
                HIDE TEXT
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}